In [1]:
import time
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('chicago.csv')
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [21]:
df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [22]:
df.describe()

         Unnamed: 0  Trip Duration     Birth Year
count  3.000000e+05  300000.000000  238981.000000
mean   7.763458e+05     936.239290    1980.858223
std    4.481464e+05    1548.792767      11.003329
min    4.000000e+00      60.000000    1899.000000
25%    3.871368e+05     393.000000    1975.000000
50%    7.771035e+05     670.000000    1984.000000
75%    1.164065e+06    1125.000000    1989.000000
max    1.551500e+06   86224.000000    2016.000000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [24]:
df['Gender'].value_counts()

Male      181190
Female     57758
Name: Gender, dtype: int64

In [26]:
print(df['Gender'].unique())

['Male' 'Female' nan]

In [19]:
df['Start Time'] = pd.to_datetime(df['Start Time'])
pd.to_datetime(df['Start Time'])

0        2017-06-23 15:09:32
1        2017-05-25 18:19:03
2        2017-01-04 08:27:49
3        2017-03-06 13:49:38
4        2017-01-17 14:53:07
                 ...
299995   2017-01-21 13:18:00
299996   2017-04-28 19:32:19
299997   2017-02-12 09:59:01
299998   2017-04-16 17:07:15
299999   2017-05-30 12:38:28
Name: Start Time, Length: 300000, dtype: datetime64[ns]

In [18]:
df['Hour'] = df['Start Time'].dt.hour
df['Hour']

0         15
1         18
2          8
3         13
4         14
          ..
299995    13
299996    19
299997     9
299998    17
299999    12
Name: Hour, Length: 300000, dtype: int64

In [17]:
popular_hour = df['Hour'].mode()[0]
popular_hour

17

In [28]:
df['User Type'].value_counts()

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [4]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!\n\n')
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    
    
    while True:
            city = input("Please enter the name of the city you want to analyse: chicago, new york city or washington \n").lower()
            if city in CITY_DATA:
                break
            else:
                print('Enter valid city again!\n')
            
         
            


    # get user input for month (all, january, february, ... , june)
    while True:
        month =  input("\nOf the following which month you want to filter: all, january, february,  march, april, may, june\n").lower()
        if month in ('all', 'january', 'february', 'march', 'april', 'may', 'june'):
            break
        else:
            print('Enter valid month again!\n')


    # get user input for day of week (all, monday, tuesday, ... sunday)
    while True:
        day = input("\nOf the following which day of the week you want to filter: all, monday, tuesday, wednesday, thursday, friday, saturday, sunday\n").lower()
        if day in ('all', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'):
            break
        else:
            print('Enter valid day again!\n')

    print('-'*40)
    return city, month, day


def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df = pd.read_csv(CITY_DATA[city])
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day_name()
    
    if month != 'all':
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
        df = df[df['month'] == month]

    
    if day != 'all':
        df = df[df['day_of_week'] == day.title()]  
            


    return df


def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\n\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()
    

    # display the most common month
    print('\nMost common month is, where 1-january, 2-february, 3-march, 4-april, 5-may, 6-june')
    print(df['month'].mode()[0])

    # display the most common day of week
    print('\nMost common day of the week is')
    print(df['day_of_week'].mode()[0])


    # display the most common start hour
    df['Hour'] = df['Start Time'].dt.hour
    print('\nMost common start hour is')
    print(df['Hour'].mode()[0])


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\n\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station
    print('\nMost comonnly used start station is')
    print(df['Start Station'].mode()[0])


    # display most commonly used end station
    print('\nMost comonnly used end station is')
    print(df['End Station'].mode()[0])


    # display most frequent combination of start station and end station trip
    print('\nMost frequent combination of start station and end station trip is')
    print(df.groupby(['Start Station', 'End Station']).size().sort_values(ascending=False).head(1))


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\n\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time
    print('\ntotal travel time is seconds is')
    print(df['Trip Duration'].sum())
    

    # display mean travel time
    print('\nMean travel time is seconds is')
    print(df['Trip Duration'].mean())
    


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def user_stats(df):
    """Displays statistics on bikeshare users."""
    print('\n\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types
    print('\ntotal count of user types is')
    print(df['User Type'].value_counts())

   
    # Display counts of gender
    if 'Gender' in df.columns:
        print('\ncounts of gender is')
        print(df['Gender'].value_counts())


    # Display earliest, most recent, and most common year of birth
        print('\n\nEarlest year of birth from the data is')
        print(df['Birth Year'].min())
              
        print('\nRecent year of birth from the data is')
        print(df['Birth Year'].max())
              
        print('\nMost common year of birth from the data is')
        print(df['Birth Year'].mode()[0])
        
    else:
        print("\n\n\nWashington city has no data on gender and birth year/n")

    print("\n\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def show_raw_data(df):
    view_data = input("Would you like to view 5 rows of individual trip data? Enter yes or no?").lower()
    start_loc = 0
    while (view_data == 'yes'):
        print(df.iloc[start_loc:start_loc+5,:])
        start_loc += 5
        view_display = input("Do you wish to continue?: ").lower()
        if view_display != 'yes':
            break
            

def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)
        show_raw_data(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
	main()

Hello! Let's explore some US bikeshare data!


Please enter the name of the city you want to analyse: chicago, new york city or washington
chicago

Of the following which month you want to filter: all, january, february,  march, april, may, june
may

Of the following which day of the week you want to filter: all, monday, tuesday, wednesday, thursday, friday, saturday, sunday
monday
----------------------------------------


Calculating The Most Frequent Times of Travel...


Most common month is, where 1-january, 2-february, 3-march, 4-april, 5-may, 6-june
5

Most common day of the week is
Monday

Most common start hour is
17

This took 0.0 seconds.
----------------------------------------


Calculating The Most Popular Stations and Trip...


Most comonnly used start station is
Streeter Dr & Grand Ave

Most comonnly used end station is
Streeter Dr & Grand Ave

Most frequent combination of start station and end station trip is
Start Station              End Station
Lake Shore Dr & Monroe St  Streeter Dr & Grand Ave    54
dtype: int64

This took 0.015597820281982422 seconds.
----------------------------------------


Calculating Trip Duration...


total travel time is seconds is
12697151

Mean travel time is seconds is
1051.0886589403974

This took 0.0 seconds.
----------------------------------------


Calculating User Stats...


total count of user types is
Subscriber    8962
Customer      3118
Name: User Type, dtype: int64

counts of gender is
Male      6717
Female    2246
Name: Gender, dtype: int64


Earlest year of birth from the data is
1906.0

Recent year of birth from the data is
2001.0

Most common year of birth from the data is
1989.0


This took 0.015587329864501953 seconds.
----------------------------------------
Would you like to view 5 rows of individual trip data? Enter yes or no?no

Would you like to restart? Enter yes or no.
no